*uild*/
.vscode/
.cache/
*-serial.txt
install*/
/kernel/subprojects/*
!/kernel/subprojects/packagefiles/
!/kernel/subprojects/tlsf/
!/kernel/subprojects/concurrentqueue/
/system/subprojects/flanterm/
data/hyper/*
*.hdd
!*.wrap
