*uild*/
.vscode/
.cache/
*-serial.txt
install*/
/sources/kernel/subprojects/*
!/sources/kernel/subprojects/packagefiles/
!/sources/kernel/subprojects/tlsf/
!/sources/kernel/subprojects/concurrentqueue/
/system/subprojects/flanterm/
data/hyper/*
*.hdd
!*.wrap/sources/kernel/subprojects/limine
/sources/kernel/subprojects/sysapi
/sources/system/subprojects/sysapi
/sources/kernel/subprojects/limine
/sources/system/subprojects/flanterm
*.code-workspace
.clangd
events.bin
/sources/sysapi/subprojects/common
/sources/kernel/subprojects/common
