*uild*/
.vscode/
.cache/
*-serial.txt
install*/
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles/
data/hyper/*
*.hdd
*.code-workspace
.clangd
/sources/kernel/subprojects/limine
/sources/kernel/subprojects/sysapi
/sources/system/subprojects/sysapi
